
/* Wrapper styling */
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper h1{
    font-size: 24px;
    font-weight: bold;
    margin-top: 100px;
}
